:root{
  --primary-color:#2597cb;
  --secondary-color: #ffffff;
  --default-size: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#header {
  padding: var(--default-size);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: var(--secondary-color);
  color: var(--primary-color);;
  padding: 0 20px 0 50px;
  margin-left: -20px;
}

#header nav {
  float: right;
}

#header nav ul {
  list-style-type: none;
}

#header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

#header nav ul li a{
  color: var(--secondary-color);
  font-size: var(--default-size);
  text-decoration: none;
}

#header nav ul li a:hover{
  text-decoration: underline;
}

.hero-banner {
  height: 300px;
  width: 100%;
  margin-bottom: var(--default-size);
  background-image: url(../images/desk.jpeg);
  background-size: cover;
  background-position: top;
  padding: var(--default-size);
}

.hero-banner-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.hero-banner h2{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: var(--default-size);
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.avatar{
  border-radius: 200px;
  border: 5px solid var(--primary-color)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper {
  max-width: 1200px;
  margin: auto;
}

.page-section {
  margin: var(--default-size) 0;
  transition: 1s;
  padding: var(--default-size);
}

.page-section h2 {
  width: 20%;
  color: var(--primary-color);
  margin-bottom: var(--default-size);
  padding: 0 var(--default-size);
  font-size: 30px;
}

.page-section .sub-content{
  width: 80%;
  padding: 0 var(--default-size);
  border-left: 2px solid var(--primary-color);;
}

.flex-content{
  display: flex;
  flex-direction: row;
}

.links {
  justify-content: space-around;
  flex-wrap: wrap;
}

.links a{
  color: var(--primary-color);
  font-size: var(--default-size);
}

#contentGrid {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "work1 work1"
    "work2 work3"
    "work4 work5"
  ;
}

.contentGridArea {
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 5px solid var(--primary-color);
  overflow: hidden;
  transition: 1s;
}

#work1 {
  grid-area: work1;
}
#work2 {
  grid-area: work2;
}

#work3 {
  grid-area: work3;
}

#work4 {
  grid-area: work4;
}

#work5{
  grid-area: work5;
}

.contentGridArea a{
  text-decoration: none;
  overflow: hidden;
}

.contentGridArea img{
  height: 100%;
}

.caption {
  padding: var(--default-size);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: absolute;
  width: fit-content;
  box-shadow: 0px 1px 5px var(--primary-color);
  margin-top: -180px;
  transition: 1s;
}

.caption:hover {
  padding: 20px 40px;
}

@media all and (max-width:767px){
  #header{
    padding-bottom: 5px;
  }
  #header h1 {
    display: block;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
  } 
  #header nav{
    float: none;
  }
  #header nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
  }
  #header nav ul li{
    margin-left: 0;
  }
  .flex-content{
    flex-direction:column;
  }
  .page-section h2, .page-section .sub-content{
    width: 100%;
  }
  .page-section .sub-content{
    border: none;
  }
  #contentGrid{
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "work1"
    "work2"
    "work3"
    "work4"
    "work5"
  ;
  }
  .hero-banner-content{
    flex-wrap: wrap;
    transition: flex-basis 500ms linear;
    width: 100%;
  }
  .hero-banner h2{
    width: 100%;
  }
}

@media all and (max-width:767px) and (min-width: 576px){
  #contentGrid{
    grid-template-rows: 400px;
  }
  .links{
    justify-content: flex-start;
    flex-direction: row;
  }
  .links a {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media all and (max-width: 425px) {
  .page-section{
    padding: var(--default-size) 0;
  }
}